[Desktop Entry]
Version=1.0
Name=Dadar
Comment= DDR P2P Cryptocurrency
Comment[fr]= DDR, monnaie virtuelle cryptographique pair à pair
Comment[tr]= DDR, eşten eşe kriptografik sanal para birimi
Exec=ddr-qt %u
Terminal=false
Type=Application
Icon=ddr128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Dadar-qt
